<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=2.0">
<meta htt0-equiv = "X-UA-Compatible" content = "IE=edge">
<link rel="alternate" hreflang="zh-Hant" href="http://www.denguefever.tw/" />
<link type="text/css" rel="stylesheet" href="{{path}}src/normalize.css">
{{#if title}}
<title>NCKU-CCS － {{title}}</title>
{{else}}
<title>NCKU-CCS</title>
{{/if}}
